@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
  
.title{
  font-family: 'Macondo', cursive;
}


.navbar{
  font-family: 'Advent Pro', sans-serif;
} 

.content{
  font-family: 'Saira', sans-serif;
} 

.head{
  font-family: 'Luckiest Guy', cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add this to your global CSS or a relevant CSS file */
.glass-navbar {
  background: rgba(255, 255, 255, 0.1); /* Adjust transparency as needed */
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease-in-out;
}

/* Targeting desktop mode on a mobile browser */
@media screen and (max-width: 768px) and (orientation: landscape) {
  /* Styles for landscape mode on mobile browsers */
  #certi{
    padding-top: 100px;
  }
}

/* Optionally, target even smaller screens */
@media screen and (max-width: 480px) and (orientation: landscape) {
  /* Styles for small mobile screens in desktop mode */
  #certi{
    padding-top: 100px;
  }
}

/* Mobile desktop mode styles */
@media screen and (max-width: 1023px) and (min-resolution: 1.5dppx) {
  /* Desktop mode on larger screens, including tablets */
  #certi{
    padding-top: 170px;
  }
}


